.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0a0a0a;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    border-top: 1px solid #222;
}

.bottom-nav a {
    color: #555; /* Standard: Grau */
    transition: color 0.3s ease;
}

/* Wenn ausgewählt: Farbe */
.bottom-nav a.active {
    color: #bf00ff; /* Dein Lila */
    filter: drop-shadow(0 0 5px #bf00ff);
}
