.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0a0a0a; 
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid #222;
}

.bottom-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #555; 
    text-decoration: none;
    font-size: 0.7rem;
    gap: 4px;
    padding: 5px 15px;
    border-radius: 20px; 
    transition: all 0.3s;
}


/* Der aktive Bereich (wie im Bild) */
.bottom-nav a:first-child {
    color: #fff; /* Leuchtend weiß für aktiv */
    background-color: #1a1a1a; /* Kleiner Hintergrund-Schatten */
    border-bottom: 2px solid #bf00ff; /* Lila Strich unten */
}
