/* Damit die Seite nach unten Platz hat */
body {
    margin: 0;
    padding-bottom: 70px; /* Platzhalter, damit der Inhalt nicht hinter der Leiste verschwindet */
    background-color: #000;
    color: white;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0a0a0a;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    border-top: 1px solid #333; /* Dezenter Strich oben */
    z-index: 1000; /* Stellt sicher, dass die Leiste über allem anderen liegt */
}

.bottom-nav a {
    color: #555;
}

.bottom-nav a.active {
    color: #bf00ff; /* Lila bei Auswahl */
}
